body {
  background-color: #ffebee
}

.navbar {
  margin-bottom: 0px;
  padding: 0px;
  padding-bottom: 0px;
  background-color: #2BBBAD;
  overflow: hidden;
  z-index: 4;
}

.nav-item {
  font-size: large;
  padding-left: 5px;
  padding-right: 5px;
}

aside {
  background-color: #eceff1;
  text-align: center;
  color: #37474f;
  padding-top: 0px;
  overflow-y: scroll;
}

.main {
  background-color: #eceff1;
  text-align: center;
  color: #37474f;
  padding-top: 100px;
  padding-bottom: 20px;
  height: 100%;
}

.error{
	display: none;
	margin-left: 10px;
}

.error_show{
	color: red;
	margin-left: 10px;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #e0e0e0;
    overflow-x: hidden;
    padding-top: 80px;
    padding-bottom: 80px;

}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.form-row.form-control {
  margin-bottom: 5px;
}

.regform {
  width: 300px;
}
