header, footer {
  background-color: #00695c;
  color: #e0f2f1;
  padding: 20px;
  text-align: center;
}


aside {
  background-color: #00695c;
  text-align: center;
  color: #e0f2f1;
}

section {
  text-align: center;
}
