{% extends "layout.html" %}

{% block title %}
    Gradebook
{% endblock %}


{% block sidenav %}
    <h2 class="display-4" style="font-size: 25px; margin-left: 5px;"> My Students</h2>
{% endblock %}


{% block main %}
<h1 class="display-2">Gradebook</h1>
<h3 class="display-3">Coming Soon!</h1>

<div class="table-striped">
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  </div>


{% endblock %}
