{% extends "layout.html" %}

{% block title %}
    Gradebook
{% endblock %}


{% block sidenav %}
    <h2 class="display-4" style="font-size: 25px; margin-left: 5px;"> My Students</h2>
{% endblock %}


{% block main %}
<h1 class="display-2">Gradebook</h1>

<div class="table-striped">          
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Age</th>
        <th>City</th>
        <th>Country</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Anna</td>
        <td>Pitt</td>
        <td>35</td>
        <td>New York</td>
        <td>USA</td>
      </tr>
    </tbody>
  </table>
  </div>


{% endblock %}
