<!DOCTYPE html>
<html lang="en">

<head>
  <script src="/static/scripts.js"></script>

  <!-- App's own CSS -->
  <link href="/static/styles.css" rel="stylesheet"/>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">



  <title>Lesson Thread: {% block title %}{% endblock %}</title>

</head>

<body>

    <header>
      <nav class="navbar navbar-expand-md navbar-light" style="position: fixed; margin-bottom: 0px; width: 101%;">
            <a class="navbar-brand" href="/"><img src="https://i.imgur.com/gPOiEcF.png?1" height="50" /></a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
            {% if session.user_id %}
                {% if session.user_adviser == 'true' %}
                    <ul class="navbar-nav mr-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/enrollstudent">Enroll Student</a></li>
                        <li class="nav-item"><a class="nav-link" href="/assignclass">Assign Class</a></li>
                        <li class="nav-item"><a class="nav-link" href="/addclass">Add Class</a></li>
                        <li class="nav-item"><a class="nav-link" href="/deleteclass">Delete Class</a></li>
                        <li class="nav-item"><a class="nav-link" href="/requirements">Requriements</a></li>
                    </ul>

                {% endif %}
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                    </ul>

              {% else %}
                    <ul class="navbar-nav mr-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                        <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                    </ul>
              {% endif %}
            </div>
        </nav>
    </header>
<div id="sidebar" class="container-fluid">

    {% if session.user_id %}
    <div id="sidenav" class="sidenav">
        {% block sidenav %}{% endblock %}
    </div>

    <div class="main" style="margin-left: 200px;">
      {% block main %}{% endblock %}
    </div>

    {% else %}
    <div class="main">
      {% block longmain %}{% endblock %}
    </div>
    {% endif %}

  </div>


</body>
</html>
