{% extends "layout.html" %}

{% block title %}
    Requirements
{% endblock %}

{% block main %}
  <h1 class="display-2">Requirements<br><br></h1>

  <div class="container-fluid">
    <div class="row" style="padding-left: 20px;">
        <h4 class="display-4 ">Foreign Language<br></h4>
        {%for class in flclasses%}
            <div class="col-sm-3"></div>





        <div class="col-sm-3"></div>
            {%for class in flclasses%}
                {{  class.class_title }}')">{{  class.class_title }}</button><br>
            {%endfor%}
        <div class="col-sm-9"></div>
    </div>
  </div>







{% endblock %}

{% block sidenav %}
  <div id="class_list" style="padding-left: 10px; font-size: 16px;">
    <h4 class="display-4">Classes</h4>
      <b>Foreign Language</b>
          {%for class in flclasses%}
              <button type="button" class="btn btn-outline-secondary" style="margin-bottom: 5px;" onclick="class_scroll('{{  class.class_title }}')">{{  class.class_title }}</button><br>
          {%endfor%}
      <b>Humanities</b><br>
          {%for class in humclasses%}
              <button type="button" class="btn btn-outline-secondary" style="margin-bottom: 5px;" onclick="class_scroll('{{  class.class_title }}')">{{  class.class_title }}</button><br>
          {%endfor%}
      <b>Math</b><br>
          {%for class in mathclasses%}
              <button type="button" class="btn btn-outline-secondary" style="margin-bottom: 5px;" onclick="class_scroll('{{  class.class_title }}')">{{  class.class_title }}</button><br>
          {%endfor%}
      <b>Science</b><br>
          {%for class in sciclasses%}
              <button type="button" class="btn btn-outline-secondary" style="margin-bottom: 5px;" onclick="class_scroll('{{  class.class_title }}')">{{  class.class_title }}</button><br>
          {%endfor%}
      <b>Social Science</b><br>
          {%for class in ssclasses%}
              <button type="button" class="btn btn-outline-secondary" style="margin-bottom: 5px;" onclick="class_scroll('{{  class.class_title }}')">{{  class.class_title }}</button><br>
          {%endfor%}
      <b>Technology</b><br>
          {%for class in techclasses%}
              <button type="button" class="btn btn-outline-secondary" style="margin-bottom: 5px;" onclick="class_scroll('{{  class.class_title }}')">{{  class.class_title }}</button><br>
          {%endfor%}
</div>

{% endblock %}
