{% extends "layout.html" %}

{% block title %}
    Student Class
{% endblock %}


{% block sidenav %}
    <h2 class="display-4" style="font-size: 25px; margin-left: 5px;"> My Classes</h2>

    {% for class in teacher_classes %}
      {% if class.teacher_id == teacherId %}
        <form action="/teacher_home" method="post">
          <input type="text" class="form-control hidden" name="student_id" value="{{ class.student_id }}"></option>
          <input type="text" class="form-control hidden" name="class_id" value="{{ class.class_id }}"></input>
          <button class="btn btn-link" style="text-align: left;"  type="submit">
            <div class="container-fluid">
              <h2 class="display-2" style="font-size: 20px; color: #000000;">
                <b>{{  class.lastname_s }}, {{  class.firstname_s  }}</b><br>
                {{  class.class_title  }}<br>
              <sup>Grade: {{ class.grade  }}</sup><br>
            </h2>
            </div>
          </button>
        </form>
      {% endif %}
    {% endfor %}

{% endblock %}


{% block main %}

    <div class="container-fluid">
      {% for student in student_name %}
        <h1 class="display-2" style="text-align: left;">{{  student.firstname_s  }} {{  student.lastname_s  }}</h1>
      {% endfor %}
      {% for class in class_title %}
        <h1 class="display-4" style="text-align: left;">{{  class.class_title  }}</h1></br></br>
      {% endfor %}
      <div class="progress">
          {% if tracking >= 0 %}
              <div class="progress-bar" role="progressbar" style="width: {{ progress }}%; background-color: #2BBBAD" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
          {% endif %}

          {% if 0 > tracking >= -30 %}
              <div class="progress-bar bg-warning" role="progressbar" style="width: {{ progress }}%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
          {% endif %}

          {% if tracking < -30 %}
              <div class="progress-bar bg-danger" role="progressbar" style="width: {{ progress }}%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
          {% endif %}
      </div>

    </div>

    <div class="container-fluid">
        <div class="row">
          <div class="col-sm-3" style="margin-left: 10px; margin-bottom: 20px;">
            <h1 class="display-4" style="font-size: 25px;">Attendance</h1>
            {% for attendance in attendance  %}
            <h2 class="display-2" style="font-size: 15px;"> Quarter {{  quarter  }}</h2><br>

            {% if 1 < hours_remaining_quarter < 6 %}
              <div class="alert alert-danger" role="alert">
                There are only {{  hours_remaining_quarter  }} hours left this quarter. Be ready to finish up your grades!
              </div>
            {% endif %}
            {% if hours_remaining_quarter == 1 %}
              <div class="alert alert-danger" role="alert">
                There is only {{  hours_remaining_quarter  }} hour left this quarter. Be ready to finish up your grades!
              </div>
            {% endif %}
            {% if hours_remaining_quarter <= 0 and quarter == 4 %}
              <div class="alert alert-danger" role="alert">
                There are no more hours expected left for this course. If you need more time, reach out to Susan or Shannon.
              </div>
            {% endif %}
            <div class="row">
              <div class="col-sm-6">
                <h2 class="display-2" style="font-size: 15px; text-align: left;">Total Course Hours:<b>   {{  attendance.hours_purchased  }}</b></h2>
                <h2 class="display-2" style="font-size: 15px; text-align: left;">Hours Left in Quarter:<b>   {{  hours_remaining_quarter  }}</b></h2>
                <h2 class="display-2" style="font-size: 15px; text-align: left;">Hours in Class:<b>   {{  attendance.attendance  }}</b></h2>
              </div>
              <div class="col-sm-6">
                <form action="/adjust_hours" method="post">
                  <input type ="number" class="form-control" name="attendance" id="attendance" value="{{  attendance.attendance  }}" min="0"><br>
                  <input type="number" class="form-control hidden"  name="student_id" id="student_id" value="{{ student_id }}">
                  <input type="number" class="form-control hidden" name="class_id" id="class_id" value="{{ class_id }}">
                  <button class="btn btn-primary" type="submit" style="border-color: #2BBBAD; background-color: #2BBBAD;">Adjust Hours in Class</button>
                </form>
              </div>
          {% endfor %}
            </div>
          </div>


          <div class="col-sm-8" style="background-color: #e0e0e0; margin-right: 10px; margin-left: 20px; margin-bottom: 20px;">
              <br><h1 class="display-4">Grade Summary</h1><br>


              <h3 class="display-5" style="text-align: left;">Set Weighting System</h3>
              <h5 style="text-align: left;">Set weights by percentages in whole numbers.</h5>
              <div class="form-row regform justify-conytent-center">
                      <label for="participation">Participation</label>
                      <input type="number" class="form-control" name="participation" id="participation" min="1" required style="margin-bottom: 5px;">
                      <label for="acquisition">Acquisition</label>
                      <input type="number" class="form-control" name="acquisition" id="acquisition" placeholder="Acquisition" required style="margin-bottom: 5px;">
                      <input type="number" class="form-control" name="application" id="application" placeholder="Application" required style="margin-bottom: 5px;">
                      <input type="number" class="form-control" name="retention" id="retention" placeholder="Retention" required style="margin-bottom: 5px;">
              </div>

                </div>

          </div>
      </div>




    <div class="container-fluid">
        <div class="row">
          <div class="col-sm-3" style="background-color: #e0e0e0;  margin-left: 10px;">
            <br><h1 class="display-4">Minimum Requirements</h1><br>

            {% for req in min_req %}
                <h2 class="display-4" style="font-size: 25px; text-align: left;">

                  {% if req.com_tmp == 1 %}

                      <form action="/undo_req" method="post">
                        <input value="{{  req.id  }}" class="hidden" name="req_id"></input>
                        <button data-toggle="popover" title="Mark Requirement Incomplete" data-trigger="hover" class="btn float-left" style="background-color: #2BBBAD; margin-right: 5px; color: #ffffff;" type="submit">
                          <span class="glyphicon glyphicon-ok"></span>
                        </button>
                      </form>

                  {% else %}

                        <form action="/student_req" method="post">
                          <input value="{{  req.id  }}" class="hidden" name="req_id"></input>
                          <button data-toggle="popover" title="Mark Requirement Complete" data-trigger="hover" class="btn btn-danger button-sm float-left" style="margin-right: 5px;" type="submit">
                            <span class="glyphicon glyphicon-remove"></span>
                          </button>
                        </form>

                  {% endif %}

              {{  req.req_title  }}</h2>
              <p style="font-size: 16px; text-align: left;">{{  req.req_description  }}</p>

            {% endfor %}
          </div>
          <div class="col-sm-8" style="background-color: #e0e0e0; margin-right: 10px; margin-left: 20px;">
              <br><h1 class="display-4">Assignments</h1><br>

              {% for req in min_req %}
                <div class="col-sm-6" style="min-height: 150px;">
                  <h2 class="display-4" style="font-size: 25px;">{{  req.req_title  }}</h2>
                  <form action="/assignment_add" method="post">
                    <input type="text" class="form-control" name="assignment_name" placeholder="New Assinment Title" required style="margin-bottom: 5px;">
                    <textarea class="form-control" name="assignment_info" rows="3" placeholder="New Assignment Details..." style="margin-bottom: 5px;"></textarea>
                    <input value="{{  req.id  }}" class="hidden" name="req_id"></input>
                    <button class="btn btn-sm btn-secondary" type="submit">Add New Assignment</button><br><br>
                  </form>

                  {% for assignment in assignment %}
                    {% if assignment.min_req_id == req.id %}
                          <h2 class="display-4" style="margin-top: 10px; font-size: 18px; text-align: left;">
                            {% if assignment.com_tmp == 1 %}
                                <form action="/undo_assignment" method="post">
                                  <input value="{{  assignment.id  }}" class="hidden" name="assignment_id"></input>
                                  <button data-toggle="popover" title="Mark Assignment Incomplete" data-trigger="hover" class="btn float-left d-inline" style="background-color: #2BBBAD; margin-right: 5px; color: #ffffff;" type="submit">
                                    <span class="glyphicon glyphicon-ok"></span>
                                  </button>
                                </form>
                            {% else %}
                                <form action="/com_assignment" method="post">
                                  <input value="{{  assignment.id  }}" class="hidden" name="assignment_id"></input>
                                  <button data-toggle="popover" title="Mark Assignment Complete" data-trigger="hover" class="btn btn-danger button-sm float-left d-inline" style="margin-right: 5px;" type="submit">
                                    <span class="glyphicon glyphicon-remove"></span>
                                  </button>
                                </form>
                            {% endif %}

                          {{  assignment.assignment_name  }}</h2>

                          <p style="font-size: 12px; text-align: left;">{{  assignment.assignment_info  }}<br>
                          <form action="/delete_assignment"  style="text-align: left;" method="post">
                            <input type="text" class="form-control hidden" name="assignment_id" value="{{ assignment.id }}"></input>
                            <button class="btn btn-link" style="text-align: left;"  type="submit">
                                <h2 class="display-2" style="font-size: 10px; color: #000000;">
                                  Delete This Assignment
                              </h2>
                            </button>
                          </form>
                        </p>



                    {% endif %}
                  {% endfor %}

                </div>

              {% endfor %}

          </div>
        </div>
      </div>

{% endblock %}
