<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- App's own CSS -->
    <link href="/static/styles.css" rel="stylesheet"/>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>

    <header class="container-fluid">
      <h4>HEADER</h4>
    </header>

      <div class="container-fluid">
        <div class="row">
          <aside class="col-sm-2">
            <h1>Student Information</h1>
          </aside>

          <section=class="col-sm-10">
            <h1>Lesson Plans</h1>
          </section>
        </div>
      </div>

    <footer class="container-fluid">
      <h4>FOOTER</h4>
    </footer>
  </body>
</html>
