{% extends "layout.html" %}

{% block title %}
    Teacher Home
{% endblock %}



{% block main %}

  <div class="container-fluid" style="margin-left: 10px;">
    <div class="row">
        {% for teacher in teacher_info %}
        <h1 class="display-2 float-left">Welcome, {{  teacher.firstname  }}!</h1>
        {% endfor %}
    </div>

    <div class="row" style="margin-top: 50px;">
      <div class="col-sm-4">
        <h2 class="display-4" style="font-size: 25px; text-align: left;">Class Progress Overview</h2><br>
        {% for class in teacher_classes %}
          {% if class.teacher_id == teacherId %}
              <form action="/teacher_home" style="text-align: left;" method="post">
                <input type="text" class="form-control hidden" name="student_id" value="{{ class.student_id }}"></option>
                <input type="text" class="form-control hidden" name="class_id" value="{{ class.class_id }}"></input>
                <button class="btn btn-link" style="text-align: left;" type="submit">

                      <h2 class="display-2" style="font-size: 20px; color: #000000;">
                        <b>{{  class.lastname_s }}, {{  class.firstname_s  }}</b><br>
                        {{  class.class_title  }}<br>
                        <sup>Grade: {{ class.grade  }}</sup><br>
                      </h2>

                  </button>
                </form>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{ class.com_percent }}%; background-color: #2BBBAD" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
          {% endif %}
        {% endfor %}
      </div>

      <div class="col-7-sm">
          <h2 class="display-4" style="margin-left: 50px; font-size: 25px; text-align: left;">My Network</h2>
      </div>
    </div>
  </div>
{% endblock %}
