{% extends "layout.html" %}

{% block title %}
    Teacher Home
{% endblock %}


{% block sidenav %}
    <a href="#about">About</a>
    <a href="#services">Services</a>
    <a href="#clients">Clients</a>
    <a href="#about">About</a>
    <a href="#services">Services</a>
    <a href="#clients">Clients</a>
    <a href="#about">About</a>
    <a href="#services">Services</a>
    <a href="#clients">Clients</a>
    <a href="#about">About</a>
    <a href="#services">Services</a>
    <a href="#clients">Clients</a>
    <a href="#about">About</a>
    <a href="#services">Services</a>
    <a href="#clients">Clients</a>
    <a href="#about">About</a>
    <a href="#services">Services</a>
    <a href="#clients">Clients</a>
    <a href="#about">About</a>
    <a href="#services">Services</a>
    <a href="#clients">Clients</a>
    <a href="#about">About</a>
    <a href="#services">Services</a>
    <a href="#clients">Clients</a>
    <a href="#about">About</a>
    <a href="#services">Services</a>
    <a href="#clients">Clients</a>
    <a href="#about">About</a>
    <a href="#services">Services</a>
    <a href="#clients">Clients</a>
    <a href="#about">About</a>
    <a href="#services">Services</a>
    <a href="#clients">Clients</a>
    <a href="#about">About</a>
    <a href="#services">Services</a>
    <a href="#clients">Clients</a>
    <a href="#about">About</a>
    <a href="#services">Services</a>
    <a href="#clients">Clients</a>
{% endblock %}

{% block main %}

  <h1>Scroll Test</h1>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1>Scroll Test</h1>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1>Scroll Test</h1>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1>Scroll Test</h1>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1>Scroll Test</h1>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1>Scroll Test</h1>

{% endblock %}
