errormessage.classList.remove("alert-hidden");

<aside class="col-md-2 scrollable-menu">
   <div class="mt-5 mb-3" id="sidemenu">
       <ul class="nav flex-md-column flex-row justify-content-between">
           <li>Test</li>
           <br>
           <br>
           <br>
           <br>
           <br>
           <li>Test</li>
           <br>
           <br>
           <br>
           <br>
           <br>
           <li>Test</li>
           <br>
           <br>
           <br>
           <br>
           <br>
           <li>Test</li>
           <br>
           <br>
           <br>
           <br>
           <br>
           <li>Test</li>
           <br>
           <br>
           <br>
           <br>
           <br>
           <li>Test</li>
           <br>
           <br>
           <br>
           <br>
           <br>
           <li>Test</li>
           <br>
           <br>
           <br>
           <br>
           <br>
           <li>Test</li>
           <br>
           <br>
           <br>
           <br>
           <br>
           <li>Test</li>
           <br>
           <br>
           <br>
           <br>
           <br>
           <li>Test</li>
           <br>
           <br>
           <br>
           <br>
           <br>
           <li>Test</li>
           <br>
           <br>
           <br>
           <br>
           <br>
           <li>Test</li>
           <br>
           <br>
           <br>
           <br>
           <br>
           <li>Test</li>
           <br>
           <br>
           <br>
           <br>
           <br>
           <li>Test</li>
           <br>
           <br>
           <br>
           <br>
           <br>
           <li>Test</li>
           <br>
           <br>
           <br>
           <br>
           <br>
           <li>Test</li>
           <br>
           <br>
           <br>
           <br>
           <br>
           <li>Test</li>
           <br>
           <br>
           <br>
           <br>
           <br>
       </ul>
   </div>
</aside>











<div class="container-fluid">
  <div class="row">
    <aside class="col-sm-3 asidebox">
      <div class="col-sm-12 sidebox" style="height: 150px;">
        <br>
        <h2 display-2 class="section_heading">Jane Student</h2>
        <h3 display-3>Algebra 1</h3>
        <p>Start Date: 00/00/00
        <br>End Date: 00/00/00
        <br>Class Hours: 00</p>
      </div>
      <div class="col-sm-12 sidebox" style="height: 570px;">
        <br>
        <h2 display-2 class="section_heading">Minimum Requirements</h2>
        <br>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 24%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </aside>

    <section class="col-sm-9 mainbox">
      <div class="col-sm-12 sidebox">
        <br>
        <h2 display-2 class="section_heading">Daily Lesson Plans</h2>
        <br>
        <div class="col-sm-4 box daily_lesson" style="height:400px;">
          <h2 display-2 class="section_heading">Monday</h2>
          <div class="col-sm-12 homework_add align-self-end"></div>
        </div>
        <div class="col-sm-4 box daily_lesson" style="height:400px;">
          <h2 display-2 class="section_heading">Wednesday</h2>
        </div>
        <div class="col-sm-4 box daily_lesson" style="height:400px;">
          <h2 display-2 class="section_heading">Friday</h2>
        </div>
      </div>
      <div class="col-sm-12 sidebox">
        <div class="col-sm-9 sidebox">
          <h2 display-2 class="section_heading">Benchmarks</h2>
          <div class="col-sm-12 box daily_lesson" style="height:200px;">
          </div>
        </div>

        <div class="col-sm-3 sidebox">
          <h2 display-2 class="section_heading">Quick Stats</h2>
          <div class="col-sm-12 box daily_lesson" style="height:200px;">
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
